@import url(../assets/fonts/fontImports.css);
@import url(./reseter.css);

#Logo {
    font-family: "Ubuntu Mono",monospace;
}

a > * {
    cursor:pointer;
}

#navbar {
    display: flex;
    justify-content: space-between;
}
#navbar > .item {}
#navbar > .item > a 
{
    
}
