#burguer {
    background-color: transparent;
    transition: all 0.5 ease-in-out;
    width: 52px;
    height: 48px;
    background-color: transparent;

    border: none;
    cursor: pointer;
    order: -10;
    z-index: 10;
}
#burguer > * {
    
    position:absolute;
    width: 52px;
    height: 12px;
    transition: all 0.5s ease-in-out;
}

/* pra quando o menu estiver ABERTO */
#burguer[state=open] :nth-child(1) {
    background-color: green;
    top: 0;

}
#burguer[state=open] :nth-child(2) {
    background-color: red;
}
#burguer[state=open] :nth-child(3) {
    bottom: 0;
    height: 0;
}

/* pra quando o menu estiver FECHADO */
#burguer[state=closed] :nth-child(1) {
    top: 0;
    background-color: green;

}
#burguer[state=closed] :nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
}
#burguer[state=closed] :nth-child(3) {
    bottom: 0;
    background-color: yellow;
}

/* Menu aside */
#sidebar{
    transition: all 0.6s ease-in-out ;
    width: 100vw;
    height: 100vh;
    left: 0;
    top:-100%;

    display: flex;
    flex-direction: column;

    position: fixed;
    
    padding-top: 60px;
    background-color: rgba(65, 105, 225, 0.88);

    font-size: larger;
    font-weight: bolder;
    
    
    z-index: 3;
}
#sidebar > * {
    padding: 1.25rem;
    color: whitesmoke;
}

#sidebar a:link{
    display: block;
    min-width: 220px;
    width: fit-content;

    margin: 0 auto 0 auto;

    text-align: center;

    color:crimson;
    background-color: rgba(245, 245, 245, 0.671);
    border-radius: 9999px;
    border: 2px solid black;
    padding: 1rem;
}
#sidebar a:hover{
    color: orangered;
}
#sidebar a:visited{
    color:orangered;
}


/* Tablet */
@media only screen and (min-width: 600px) {
    
}
/* Laptop */
@media only screen and (min-width: 768px) {
    #burguer{
        display: none;
    }
    #sidebar{
        position: relative;
        padding: 0;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        width: min-content;
        height: min-content;
        background-color: transparent;
        vertical-align: middle;
        transition: none;
        transform: translateY(0) !important;

        font-size: medium;
        font-weight: normal;
    }
    #sidebar label {
        display: none;
    }
    #sidebar > * {
        padding: 0;
    }
    #sidebar a:link{
        
        display: block;
        min-width: fit-content;
        

        color:crimson;
        background-color: transparent;
        border-radius: 0;
        border: none;
        padding: 0;
        margin: 0;
    }
    #sidebar a:hover{
        color: orangered;
    }
    #sidebar a:visited{
        color:orangered;
    }

}
/* PC desktop */
@media only screen and (min-width: 1366px) {
    
}