@import url(./burguer.css);

#Logo {
    font-family: "Ubuntu Mono",monospace;

    font-style: italic;
    height: fit-content;
    height: fit-content;
    padding: 0.6rem;
    border-radius: 9999px;
    font-size: x-large;
    font-weight: bold;
    z-index: 10;
    order: 10;

    cursor: context-menu;
}


#navbar {
    
    position:fixed;

    display: flex;
    
    min-width: 360px;
    width: 100vw;

    margin: 0 auto 0 auto;
    padding: 12px;

    top: 0;
    left: 0;

    
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(220, 220, 220, 0.63);
    z-index: 2;
}


/* Tablet */
@media only screen and (min-width: 600px) {
    
}
/* Laptop */
@media only screen and (min-width: 768px) {
    #Logo {
        order: 0;
    }
}
/* PC desktop */
@media only screen and (min-width: 1366px) {
    
}