@import url(./burguer.css);

#Logo {
    display: flex;
    
    align-items: center;
}

#Logo main {
    font-family: "Ubuntu Mono",monospace;

    font-style: italic;
    height: fit-content;
    height: fit-content;
    padding: 0.6rem;
    font-size: x-large;
    font-weight: bold;

    padding-left: 60px;

    cursor: context-menu;

}
#Logo div a {
    padding-inline: 4px;
}
#Logo div a:hover {
    color: blueviolet;
}

#Logo > div 
{
    padding-left: 64px;
    display: none;
}

/* Tablet */
@media only screen and (min-width: 600px) {
    
}
/* Laptop */
@media only screen and (min-width: 768px) {
    #Logo main {
        padding-left: 0;
    }
    #Logo div 
    {
        display: block;
    }
}
/* PC desktop */
@media only screen and (min-width: 1366px) {
    
}