*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    transition: all 0ms ease;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}
header{

    height: 90vh;
    background-image: url("imagem-introducao.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: aliceblue;
}
tampaheader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(75, 74, 74, 0.4);
    backdrop-filter: blur(1px);

    z-index: 1;

}
textoheader{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 10%;
    left: 5%;


    z-index: 2;
}
header nav{
    position: absolute;
    background-color: royalblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    line-height: 2rem;
    z-index: 2;
}
header nav ul{

}
header nav ul a{
    padding-left: 2rem;
    font-family:monospace;
}
header h4{

    line-height: 2rem;
    letter-spacing: 0.33em;
    font:  24px/1.4em sans-serif;
}
header h1{
    font: bold 88px/1.4em serif;
}
header h3{
}
