@import url(./translatormenu.css);

#navbar {
    position:relative;
    display: flex;
    
    min-width: 360px;
    width: 100vw;

    max-height: 60px;

    margin: 0 auto 0 auto;
    padding: 12px;

    top: 0;
    left: 0;

    
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: large;

}

/* Tablet */
@media only screen and (min-width: 600px) {
    
}
/* Laptop */
@media only screen and (min-width: 768px) {
    #Logo {
        order: 0;
    }
}
/* PC desktop */
@media only screen and (min-width: 1366px) {
    
}