#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 8px;
}
#projects > div > img {
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.644);
    box-shadow: 1px 1px 8px rgba(90, 90, 92, 0.75);
    
}

#projects > h2 {
    font-weight: lighter;
    width: 100%;
    text-align: center;
    padding-block: 32px;
}


#projects > div {
    max-width: 340px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 8px black;
    padding: 8px;

    text-align: center;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;

}

#projects > div > h3 {
    padding-top: 8px;
}

#projects > div > address{
    text-align: left;
}
#projects > div > aside {
    gap: 8px;
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: right;
}
#projects > div > aside > a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
#projects > div > aside > a.code {
    
    filter: invert(39%) sepia(27%) saturate(3153%) hue-rotate(205deg) brightness(91%) contrast(94%);
}
#projects > div > aside > a.code:hover,#projects > div > aside > a.code:focus {
    filter: invert(10%) sepia(100%) saturate(6652%) hue-rotate(248deg) brightness(88%) contrast(147%);
}

#projects > div > aside > a.eye {
    filter: invert(15%) sepia(44%) saturate(4340%) hue-rotate(260deg) brightness(105%) contrast(83%);
}
#projects > div > aside > a.eye:hover {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
}
